// SCRIPTS

script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')

//build:js js/scripts.min.js
script(src="components/jquery/dist/jquery.min.js")
script(src="components/slick-carousel/slick/slick.js")
script(src="js/libs/owl.carousel.min.js")
script(src="js/main.js")
//endbuild
