.header
  .container
    .header__wrapper
      .header__logo
        span arlix
      a(href='tel:').header__phone +7 (916) 123-45-67

.navi
  .container
    .navi__list
      a(href='#' data-section='1').active
        span главная
      a(href='#' data-section='2')
        span о нас
      a(href='#' data-section='3')
        span портфолио
      a(href='#' data-section='4')
        span контакты
