// ICONS
.ico
  display: inline-block
  font-style: normal
  content: ' '
  background-repeat: no-repeat
  background-position: center
  background-size: contain
  vertical-align: middle
  &-send
    background-image: svg-load('../../images/svg/send.svg')
    size: 25px
