doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    .preloader
      .header__logo
        .header__logo__a a
        .header__logo__aa a
        .header__logo__aaa a
        .header__logo__main arlix
        .header__logo__x a
        .header__logo__xx a
        .header__logo__xxx a
        

    .app
      include shared/header.pug
      
      // SECTIONS
      .js-slick-sections
        // HOME
        .section.section--home
          .container
            .home
              .home__subtitle Пристальное внимание <br> к мелочам... и
              .home__title ничего <br> лишнего
              .home__services
                .home__service
                  span разработка сайтов
                .home__service 
                  span создание и разработка брендбуков
                .home__service
                  span дизайн логотипов
                .home__service
                  span дизайн и разработка мобильных приложений
        // ABOUT
        .section.section--about
          .about-control
            .about-control__item.active(data-about='1') 
              span www
            .about-control__item(data-about='2') 
              span app
            .about-control__item(data-about='3') 
              span seo
            .about-control__item(data-about='4') 
              span logo
            
          .js-slick-about
            // service
            .about.about--firm
              .container
                .about__wrapper
                  .about__title Создание сайтов
                  .about__description Ваш бренд только выходит на рынок или вы чувствуете, что айдентика вашей компании нуждается <br> в обновлении? Мы поможем обрести современный <br> визуальный образ!
                  .about__details
                    a(href='#') Подробнее
            // service
            .about.about--firm
              .container
                .about__wrapper
                  .about__title Разработка приложений
                  .about__description Ваш бренд только выходит на рынок или вы чувствуете, что айдентика вашей компании нуждается <br> в обновлении? Мы поможем обрести современный <br> визуальный образ!
                  .about__details
                    a(href='#') Подробнее
            // service
            .about.about--firm
              .container
                .about__wrapper
                  .about__title Поисковая оптимизация
                  .about__description Ваш бренд только выходит на рынок или вы чувствуете, что айдентика вашей компании нуждается <br> в обновлении? Мы поможем обрести современный <br> визуальный образ!
                  .about__details
                    a(href='#') Подробнее
            // next service
            .about.about--firm
              .container
                .about__wrapper
                  .about__title Фирменный стиль
                  .about__description Ваш бренд только выходит на рынок или вы чувствуете, что айдентика вашей компании нуждается <br> в обновлении? Мы поможем обрести современный <br> визуальный образ!
                  .about__details
                    a(href='#') Подробнее      
                
                  
        // PORTFOLIO
        .section.section--portfolio
          .container
            .about
              
        // CONTACTS
        .section.section--contacts
          .contact
            #map
            #map-over
            svg(width='100%', height='100%')
              defs
                clippath#clip-shape
                  circle(cx='50%', cy='50%', r='200px')
          .contact__bottom
            .container
              .contact__line ООО «Арликс»
              .contact__line Тел.:
            


            
            
      include shared/footer.pug
