doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    .preloader
      .header__logo.animated
        .header__logo__a a
        .header__logo__aa a
        .header__logo__aaa a
        .header__logo__main arlix
        .header__logo__x x
        .header__logo__xx x
        .header__logo__xxx x
        

    .app
      include shared/header.pug
      
      // SECTIONS
      .js-slick-sections
        // HOME
        .section.section--home
          .container
            .home
              .home__subtitle Пристальное внимание<br> к мелочам... и
              .home__title ничего<br> лишнего
              .home__services
                .home__service
                  span разработка сайтов
                .home__service 
                  span создание и разработка брендбуков
                .home__service
                  span дизайн логотипов
                .home__service
                  span дизайн и разработка мобильных приложений
          i.ico.ico-touchscroll
              
        // ABOUT
        .section.section--about
          .about-control
            .about-control__item.active(data-about='0') 
              span www
            .about-control__item(data-about='1') 
              span app
            .about-control__item(data-about='2') 
              span seo
            .about-control__item(data-about='3') 
              span logo
            
          .js-slick-about
            // service
            .about.about--www
              .container
                .about__wrapper
                  .about__title Создание сайтов
                  .about__description Мы оказываем услуги по разработке сайтов любой степени сложности. Станьте нашим клиентом<br> и получите профессиональный сайт, который станет вашей визитной карточкой и принесет Вам прибыль!
                  .about__details
                    a(href='#modalAbout1') Подробнее
            // service
            .about.about--apps
              .container
                .about__wrapper
                  .about__title Разработка приложений
                  .about__description Мобильные решения приобретают всё большее значение, поэтому помимо разработки сайтов под любые устройства, мы уделяем особое внимаение разработке мобильных приложений.
                  .about__details
                    a(href='#modalAbout2') Подробнее
            // service
            .about.about--seo
              .container
                .about__wrapper
                  .about__title Продвижение<br> и развитие
                  .about__description Хотите привлечь больше посетителей на Ваш сайт<br> и повысить количество потенциальных клиентов? Обративнишь к нам, Вы получите стабильно высокие результаты и полную прозрачность!
                  .about__details
                    a(href='#modalAbout3') Подробнее
            // next service
            .about.about--firm
              .container
                .about__wrapper
                  .about__title Фирменный стиль
                  .about__description Ваш бренд только выходит на рынок или вы чувствуете, что айдентика вашей компании нуждается<br> в обновлении? Мы поможем обрести современный <br> визуальный образ!
                  .about__details
                    a(href='#modalAbout4') Подробнее      
                
                  
        // PORTFOLIO
        .section.section--portfolio
          .container
            .portfolio__wrapper
              .portfolio__list
                .portfolio__col
                  a(href='#modalPortfolio1')
                    img(src='images/svg/logos/cyberleninka.svg').logo-cyberleninka
                  a(href='#modalPortfolio2')
                    img(src='images/svg/logos/oametrics.svg').logo-oametrics
                  a(href='#modalPortfolio3')
                    img(src='images/svg/logos/bandmember.svg').logo-bandmember
                  a(href='#modalPortfolio4')
                    img(src='images/svg/logos/rusean.svg').logo-rusean
                .portfolio__col
                  a(href='#modalPortfolio5')
                    img(src='images/svg/logos/osetr.svg').logo-osetr
                  a(href='#modalPortfolio6')
                    img(src='images/svg/logos/haveadeal.svg').logo-haveadeal
                  a(href='#modalPortfolio7')
                    img(src='images/svg/logos/snab.svg').logo-snab
                  a(href='#modalPortfolio8')
                    img(src='images/svg/logos/cyberdoi.svg').logo-cyber
          i.ico.ico-touchscroll
                      
        // CONTACTS
        .section.section--contacts
          .contact
            .map-container
              .map-container__wrap
                #map
            #map-over
            svg(width='100%', height='100%')
              defs
                clippath#clip-shape
                  circle(cx='50%', cy='50%', r='200px')
                clippath#clip-shape2
                  circle(cx='50%', cy='50%', r='195px')
                        
          .contact__bottom
            .container
              .contact__wrapper
                .contact__credentials
                  .contact__line.mt10 ООО «Арликс»
                  .contact__line.mt30 <span>Тел.:</span> <a href='tel:+79161234567'>+7 (916) 123_45_67</a>
                  .contact__line <span>Адрес:</span> Пресненская наб. 8, с. 1
                  .contact__line.contact__line--opate.mt30 <span>Email:</span> <a href='malto:info@arlix.ru'>info@arlix.ru</a>
                  .contact__line.contact__line--opate.mt30 <span>ОРГН:</span> 1155658027161
                  .contact__line.contact__line--opate <span>КПП:</span> 561401001
                form().contact__form
                  .contact__form__fields
                    .ui-input
                      input(type='text' placeholder='Имя')
                    .ui-input.ui-input--file
                      input#file.inputfile(type='file', name='file', data-multiple-caption='выбрано {count} файлов', multiple='')
                      label(for='file') Прикрепить файл
                    .ui-input
                      textarea(placeholder='сообщение...' rows='5')
                  button(type='submit')
                    i.ico.ico-send
      
    
                                                
      include shared/footer.pug
      
    // MODALS
    .modal#modalAbout1
      .modal__wrapper
        .modal__container
          .modal__head
            .modal__head__title Создание сайтов
            i.ico.ico-close
          .modal__content
    .modal#modalAbout2
      .modal__wrapper
        .modal__container
          .modal__head
            .modal__head__title Разработка приложений
            i.ico.ico-close
          .modal__content
    .modal#modalAbout3
      .modal__wrapper
        .modal__container
          .modal__head
            .modal__head__title Поисковая оптимизация
            i.ico.ico-close
          .modal__content
    .modal#modalAbout4
      .modal__wrapper
        .modal__container
          .modal__head
            .modal__head__title Фирменный стиль
            i.ico.ico-close
          .modal__content

                
    // PORTFOLIO MODALS
    .modal#modalPortfolio1
      .modal__wrapper
        .modal__container
          .modal__head.modal__head--cyberleninka
            img(src='images/svg/logos/cyberleninka.svg').logo-cyberleninka
            i.ico.ico-close
          .modal__content
            img(src='images/portfolio_cyberleninka.png')
              
    .modal#modalPortfolio2
      .modal__wrapper
        .modal__container
          .modal__head.modal__head--oametrics
            img(src='images/svg/logos/oametrics.svg').logo-oametrics
            i.ico.ico-close
          .modal__content
            picture
              img(src='images/portfolio_oametrics.png', srcset='images/portfolio_oametrics.png 1x, images/portfolio_oametrics@2x.png 2x')

    .modal#modalPortfolio3
      .modal__wrapper
        .modal__container
          .modal__head.modal__head--bandmember
            img(src='images/el/bandmember@2x.png').logo-bandmember
            i.ico.ico-close
          .modal__content
            picture
              img(src='images/portfolio_bandmember.png', srcset='images/portfolio_bandmember.png 1x, images/portfolio_bandmember@2x.png 2x')
              
    .modal#modalPortfolio4
      .modal__wrapper
        .modal__container
          .modal__head.modal__head--rusean
            img(src='images/svg/logos/rusean.svg').logo-rusean
            i.ico.ico-close
          .modal__content
            img(src='images/portfolio_rusean.png')
    
    .modal#modalPortfolio5
      .modal__wrapper
        .modal__container
          .modal__head.modal__head--osetr
            img(src='images/svg/logos/osetr.svg').logo-osetr
            i.ico.ico-close
          .modal__content
            picture
              img(src='images/portfolio_osetr.png', srcset='images/portfolio_osetr.png 1x, images/portfolio_osetr@2x.png 2x')
              
              
              
    .modal#modalPortfolio6
      .modal__wrapper
        .modal__container
          .modal__head.modal__head--homedeal
            img(src='images/svg/logos/haveadeal.svg').logo-haveadeal
            i.ico.ico-close
          .modal__content
            picture
              img(src='images/portfolio_homedeal.png', srcset='images/portfolio_homedeal.png 1x, images/portfolio_homedeal@2x.png 2x')
    
    .modal#modalPortfolio7
      .modal__wrapper
        .modal__container
          .modal__head.modal__head--snab
            img(src='images/svg/logos/snab.svg').logo-snab
            i.ico.ico-close
          .modal__content
            img(src='images/portfolio_snab.png')
